@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400&display=swap');

:root{
    --yellow: #F2C94C;
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'Kalam', cursive;
    margin: 0;
    
}

nav{
    background-color: var(--yellow);
    text-align: center;
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    padding: 1em;
    font-size: x-large;
}


footer{
    background-color: var(--yellow);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#btn-translate{
    display: block;
    background-color: var(--yellow);
    border: none;
    margin-bottom: 20px;
    padding: 1.2em;
    font-family: inherit;
    font-size: larger;
}

textarea{
    width: 100%;
    height: 20vh;
    font-family: inherit;
    font-size: larger;
}

#text-output{
    border: 1px solid black;
    height: 10vh;
    width: 100%;
    height: 20vh;
}

#content{
    margin: 10vh auto;
    padding: 10vh 40vh;
}

p{
    margin: auto 50vh;
}
