@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');


:root{
    --yellow: #F2C94C;
}

* {
    box-sizing: border-box;
}

body{
    font-family: 'Kalam', cursive;
    color: #333333;
    margin: 0;
}

footer{
    background-color: var(--yellow);
    text-align: center;    
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 1rem;
}

footer p{
    margin: auto 400px;
}

#text-input{
    width: 100%;
    height: 20vh;
    font-family: inherit;
    font-size: large;
}

#text-output{
    border: 1px solid black;
    height: 10vh;
    font-size: large;
    padding: 1rem;
}

main{
    margin: 50px 400px;
}

nav{
    background-color: var(--yellow);
    text-align: center;
    width: 100%;
    padding: 1rem;
}

#btn-translate{
    border: 0;
    background-color: var(--yellow);
    padding: 1rem 2rem; 
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: inherit;
    font-size: large;
}