@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');


:root{
    --yellow: #F2C94C;
}

* {
    box-sizing: border-box;
    
}

body{
    font-family: 'Kalam', cursive;
    color: #333333;
    margin: 0;
}


footer{
    background-color: var(--yellow);
    text-align: center;    
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 1rem;
}

footer p{
    
    text-align: center;
    max-width: 600px;
    margin: auto;
}

#text-input{
    width: 80vh;
    height: 20vh;
    font-family: inherit;
    font-size: large;
    display: block;
}

#text-output{
    border: 1px solid black;
    height: 10vh;
    width: 80vh;
    font-size: large;
    padding: 1rem;
}

main{
    margin: 50px 400px;
    
}

nav{
    background-color: var(--yellow);
    text-align: center;
    width: 100%;
    padding: 1rem;
    position: fixed;
    top: 0;
}

#btn-translate{
    border: none;
    background-color: var(--yellow);
    padding: 1rem 2rem; 
    margin: 1rem 0rem;
    font-family: inherit;
    font-size: large;
    box-sizing: border-box;
}
